a {
  text-decoration: none;
  color: #0d19a3;
}

h4 {
  margin: 20px 0px 20px 0px;
}

.TypeNotFound {
  max-width: 1024px;
}

.Home {
  padding: 20px;
}


.AppContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000000;
  padding: 50px;
}

.App-link {
  color: #29648a;
}

.InputContainer{
  display: flex;
}

.InputValue{
  color: #77a6f7;
  display: inline;
}

.Title {
  color: #000000;
  border-bottom: #aaabb8;
  border-bottom-style: solid;
  border-width: 1px;
}

.Tile {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaabb8;
  background-color: #f7f9fb;
  margin-bottom: 20px;
}

.ErrorTile {
  padding: 0px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.ErrorMessage {
  width: 90%;
}

.ButtonHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonHolder:hover {
  opacity: 0.3;
}

.StrategyContainer {
  margin: 0px 20px 20px 20px;
}
.StrategyTile {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaabb8;
  padding: 2px 10px 5px 10px;
  background-color: #f7f9fb;
  margin: 20px 0px;
}

.StrategyInstruction {
  display: flex;
  justify-content: space-between;
}

.StrategyMessage {
  width: 90%;
  display: flex;
}

.StrategySubMessage {
  padding-left: 10px;
  width: 80%;
  display: flex;
}

.Suggestion{
  padding-top:11px;
}

.CodeExample {
  display: flex;
  justify-content: space-around;
}

.CodeContainer {
  width: 40%;
}

.RedCode {
  font-family: Courier;
  border-style: solid;
  border-width: 2px;
  border-color: #e85a4f;
  padding: 2px 10px 5px 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.GreenCode {
  font-family: Courier;
  border-style: solid;
  border-width: 2px;
  border-color: #479761;
  padding: 2px 10px 5px 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.Indent-0 {
  margin: 10px 0px 10px 0px;
}

.Indent-1 {
  margin: 10px 0px 10px 10px;
}

.Indent-2 {
  margin: 10px 0px 10px 20px;
}

.Indent-3 {
  margin: 10px 0px 10px 30px;
}

.Indent-4 {
  margin: 10px 0px 10px 40px;
}
