.App {
  max-width: 1024px;
}

.AppContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000000;
  padding: 50px;
}

.App-link {
  color: #29648a;
}

.VarName {
  color: #77a6f7;
  display: inline;
}

.Title {
  color: #000000;
  border-bottom: #AAABB8;
  border-bottom-style: solid;
  border-width: 1px;
}

.ErrorTile {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #AAABB8;
  padding: 2px 20px 10px 20px;
  background-color: #f7f9fb;
  display: flex;
  justify-content: space-between;
}

.ErrorMessage{
  width: 70%; 
}

.ButtonHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}
